<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Temperature Average Per Year</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Load Plotly JS from CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Load D3.js -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- PapaParse Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
</head>
<body>
    <h2>Average Temperature Per Year</h2>

    <label for="selDataset">State:</label>
    <select id="selDataset" onchange="optionChanged(this.value)">
        <option value="">Select State</option>
    </select>

    <label for="selCountyset">County:</label>
    <select id="selCountyset" onchange="countyoptionChanged(this.value)">
        <option value="">Select County</option>
    </select>
    <!-- <div class="row">
      <div class="col-md-3">
        <div class="card card-body bg-light">
          <h6>State</h6>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
          <br>
          <h6>County</h6>
          <select id="selCountyset" onchange="countyoptionChanged(this.value)"></select>
        </div>
      </div>
    </div> -->
    <div class="col-md-9">
        <div id="chart"></div>
        <!-- <div id="bar"></div> -->
    </div>
    
    <script type="text/javascript" src="static/js/get_state_names.js"></script>
    <script type="text/javascript" src="static/js/get_county_names.js"></script>

    <script type="text/javascript" src="static/js/tempave_annual.js"></script>

</body>
</html>
